.vscode/**
.vscode-test/**
.vscode-test-web/**
out/**
src/**
node_modules/**
.gitignore
vsc-extension-quickstart.md
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
leojs.leo
prepare.js
cleanup.js
resources/animated-screenshot.gif
resources/run-extension.png
