.vscode/**
.vscode-test/**
.vscode-test-web/**
out/**
src/**
node_modules/**
.gitignore
vsc-extension-quickstart.md
webpack.config.js
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/.prettierignore
**/.prettierrc
**/*.map
**/*.ts
leojs.leo
leojs.leojs
dummy-child-process.js
prepare.js
cleanup.js
resources/animated-screenshot.gif
resources/run-extension.png
test*.db
scripts.txt
dummy*.js
serve.json
