/*@+leo-ver=5-thin*/
/*@+node:felix.20240816231349.1: * @file  leojs-docs/src/pages/index.module.css*/
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.customHero {
  background-image: var(--custom-hero-bg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.customHero:before {
  content: '';    
  opacity: 1;
  background-image: var(--custom-hero-bg-before);
  display: block;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index : -1;
  transition: opacity 0.3s ease-out;
}

.customHero:hover:before {
  opacity: 0.5;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5;
}

.bulletsHolder {
  text-align: center;
}

.bullets {
  display: inline-block;
  text-align: left;
}

.customQuote {
  color: #4c5262;
  font-style: italic;
  font-weight: 500;
  list-style-type: none;
}
.customQuote>span {
  font-style: normal;
  font-weight: normal;
  color: #615e5b;
}

/*@-leo*/
